
/* --------------------------------------------------------- basic elements --------------------------------------------- */
html {
		padding-left: 450px;
		padding-right: 300px;
}
body {
	margin-top: 150px;
	font: 75% helvetica, sans-serif;
	line-height: 1.5;
	background-image: url("images/background4.jpg");
	background-repeat: no-repeat;
}

h1 {
	color: white;
	font-size: 65px;
}

h2{
	color: white;
	font-size: 45px;
}

h3 {
	color: green;
	font-size: 35px;
	margin-top: 55px;
	margin-bottom: 5px;
}

p {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 20px; 
}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #8E7B5D
}
abbr {
	color: green;
}

/* --------------------------------------------------------- specific divs* --------------------------------------------- */


[role=banner]{
	background-color: rgba(0,0,0,0.8);
	color: white;
	text-align: left;
	line-height: 250%;
	margin-bottom: 400px;
	border: 3px solid green;
	border-radius: 15px;
	width: 750px;
	height: 170px;
	padding-bottom: 50px;
	padding-left: 50px;
}

.page-wrapper { 
	padding:  50px 0 50px;  
	margin: ; 
	position: center;
}

.sidebar{
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 250px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
	padding-left: 10px;
}

.sidebar h3{
	font-size: 25px;
}

.sidebar p{
	font-size: 10px;
}

.sidebar li{
	font-size: 15px;
	padding-top: 15px;
	color: white;
	padding-right: 0px;
}

.sidebar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 15px;
	color: #818181;
	display: block;
	line-height: 15px;
}
  
.sidenav a:hover {
	color: #f7f7f7;
}

.design-name{
	color: black;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}


/* main footer */
footer {
	padding: 3em 10%;
	color: #fff;
	background: green;
	text-align: center;
}

footer a{
	color: rgb(68, 68, 68);
}